html {
    background:
        radial-gradient(black 3px, transparent 4px),
        radial-gradient(black 3px, transparent 4px),
        linear-gradient(#2b3a47 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #627e8b 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #627e8b 76px, #627e8b 77px, transparent 78px, transparent 109px),
      #2b3a47;
      background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
      background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }

#root{
    grid-template-columns: 20% 80%;
    display: grid;
    --prim-color: #0c71a2;
    --card-color: #84a7be;
    color: #fff;
    margin: -8px;
    background: transparent;
}

button{
    background: #EAAA00;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    font: normal bold 18px "Lucida Console", "Courier New", monospace;
    text-align: center;
    margin-bottom: 10px; 
}

button:hover{
    transition: all 0.3s;
    background: #fcbe03;
}

.page-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    grid-column: 2;
    margin-top: 2%;
}

